* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    margin: 0px;
    padding: 0px;
    font-family: "Cousine";
    background-color: rgb(255, 255, 255);
    align-items: center;
    vertical-align: middle;
    text-align: center;
    align-content: center;
}

body {
    background-image:url('../assets/gradient.gif');
    background-size:100%;
    background-size: cover;
    background-attachment: fixed;
    height:100vh;
    width:100vw;
}

h2 {
    font-family: "Josefin Sans";
    font-size: xxx-large;
    padding: 30px;
    padding-top: 60px;
    padding-bottom: 0px;
    text-align: left;
}

h3 {
    font-family: "Josefin Sans";
    font-size: x-large;
    padding-top: 0px;
    text-align: left;
}

.loginbox p {
    text-align: left;
    padding: 10px;
    padding-left: 30px;
    padding-bottom: 0px;
    color: rgba(0, 0, 0, 0.637)
}

.loginbox {
    background-color: white;
    border-radius: 10px;
    height: 30vh;
    width: 25vw;
    z-index: 1;
    display: inline-table;
    align-self: center;
    box-shadow: 0 0 30px black;
}

.tab {
    display:flex;
    flex-direction: column;
    gap: 15px;
    margin: 30px;
}

.textinput {
    display: flex;
    flex-direction: column;
}

.textinput input {
    font-size: 1rem;
    padding: 0.75em;
    background-color: rgba(160, 160, 160, 0.3);
    border: none;
    border-radius: 10px;
    font-family: "Cousine";
    outline: none;
    box-shadow: none;
}

input:focus {
    box-shadow: 0 0 3px 1px rgb(77, 149, 217);
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
}

.gotologin {
    padding-bottom: 15px;
}

.gotologin p {
    padding: 0px;
    padding-left: 1.5em;
}

.loginbox a {
    color: rgb(77, 149, 217);
}

.header a {
    width: 30%;
    height: 30%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.minilogo {
    width: 65%;
    height: 65%;
    padding-top: 50px;
    padding-right: 30px;
}

.textinput p {
    text-align: left;
    padding: 0px;
    padding-left: 5%;
    font-size: small;
    color: rgb(255, 255, 255);
}

#passwordarea {
    padding-bottom: 20px;
}

#phonewrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: unset;
}

#phoneprefix {
    font-size: 1rem;
    background-color: rgb(226, 226, 226);
    padding: 0.75em;
    white-space: nowrap;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 12%
}

#phone {
    width: auto;
    flex: 1;
    min-width: 0;
}

.privacy {
    font-size: small;
    display: flex;
    justify-content: space-evenly;
    padding-right: 50%;
}

#progressbar {
    text-align: center;
    margin-top: 40px;
    width: 60%;
}

#bgbar {
    width:100%;
    height: 2em;
    background-color: rgb(226, 226, 226);
}

#fgbar {

}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popButton {
    background-color: rgb(77, 149, 217);
    color: white;
    border-radius: 25px;
    padding: 15px;
    margin: 5px;
    font-weight: bold;
    font-family: "Josefin Sans";
    font-size: larger;
    vertical-align: middle;
    border: none;
    width: 40%;
}

.dullButton {
    border-radius: 25px;
    padding: 15px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.62);
    font-family: "Josefin Sans";
    font-size: larger;
    vertical-align: middle;
    border: 2px solid rgba(0, 0, 0, 0.25);
    width: 40%;
}

.popButton:hover {
    background-color: rgb(75, 161, 243);
    cursor: pointer;
}

.dullButton:hover {
    background-color: rgba(48, 48, 48, 0.3);
    cursor: pointer;
}

.popButton:active {
    transform: scale(0.95);
    box-shadow: 3px 2px 22px 1px rgba(75, 161, 243, 0.24);
}

.dullButton:active {
    transform: scale(0.95);
    box-shadow: 3px 2px 22px 1px rgba(0,0,0, 0.24);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img:hover {
    cursor: pointer;
}