* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    margin: 0px;
    padding: 0px;
    font-family: "Cousine";
    background-color: rgb(255, 255, 255);
}

body {
    width:100vw;
    display: flex;
}

.sidebar {
    width: 200px;
    height: 92.1vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 75px;
}

.sidebar .tabBtn {
    padding: 15px;
    cursor: pointer;
    text-align: left;
    border: none;
    background: none;
    color: inherit;
    font-size: 16px;
    outline: none;
    font-family: "Josefin Sans";
}

.sidebar .tabBtn:hover {
    background-color: #34495e;
}

.sidebar .tabBtn.active {
    background-color: rgb(75, 161, 243);
}

.tab {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.3s ease, transform 0.3s ease;
    flex-direction: column;
    margin-left: 15px;
}

.tab.active {
    display: flex;
    opacity: 1;
    transform: scale(1);
}

.contentwrapper {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    margin-top: 75px;
    box-shadow: 10px 0 1px 0px rgb(75, 161, 243) inset
}

h2 {
    font-family: "Josefin Sans";
    font-size: xxx-large;
    padding: 30px;
    padding-top: 60px;
    padding-bottom: 0px;
    text-align: left;
}

h3 {
    font-family: "Josefin Sans";
    font-size: x-large;
    padding-top: 0px;
    text-align: left;
}

.logospace {
    color: white;
    display: inline-block;
    cursor: auto;
}

.spanbar {
    display:inline-block;
    height: 3px;
    width: clamp(0px, 30vw, 40vw);
    background-color: rgb(185, 185, 185);
    vertical-align: middle;
}

.navbar {
    position: fixed; /* Fix the navbar at the top of the viewport */
    top: 0;
    left: 0;
    width: 100%; /* Span the full width of the screen */
    z-index: 0; /* Place it above other elements */
    display: flex; /* Align navbar contents */
    justify-content: center; /* Center-align navbar items */
    align-items: center;
}

nav {
    text-align: center;
    width: 100%;
}

nav ul {
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 20px;
    border-bottom: 1px black solid;
}

ul {
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
    text-align: center;
}

nav img:hover {
    cursor: pointer;
}

ul li {
    display: inline;
    vertical-align: middle;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popButton {
    background-color: rgb(77, 149, 217);
    color: white;
    border-radius: 25px;
    padding: 15px;
    margin: 5px;
    font-weight: bold;
    font-family: "Josefin Sans";
    font-size: larger;
    vertical-align: middle;
    border: none;
    width: 40%;
    text-align: center;
}

.dullButton {
    border-radius: 15em;
    padding: 15px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.62);
    font-family: "Josefin Sans";
    font-size: larger;
    vertical-align: middle;
    border: 2px solid rgba(0, 0, 0, 0.25);
    width: 40%;
    text-align: center;
}

.popButton:hover {
    background-color: rgb(75, 161, 243);
    cursor: pointer;
}

.dullButton:hover {
    background-color: rgba(48, 48, 48, 0.3);
    cursor: pointer;
}

.popButton:active {
    transform: scale(0.95);
    box-shadow: 3px 2px 22px 1px rgba(75, 161, 243, 0.24);
}

.dullButton:active {
    transform: scale(0.95);
    box-shadow: 3px 2px 22px 1px rgba(0,0,0, 0.24);
}

.corner {
    position: fixed;
    top: 5px;
    right: 0;
    left: 90vw;
    z-index: 999;
    width: 6em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.minilogo:hover {
    cursor: pointer;
}

.jobsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    width: 100%;
}

.jobListing {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    width: 24.25em;
    height: fit-content;
    transition: 0.3s ease;
    margin: 10px;
}

.jobListing:hover {
    transform: translateY(-8px) scale(1.05);
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.3);
}

.line {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 10px 0px;
}

.line img {
    width: 1em;
    height: 1em;
    filter: invert(1);
}

.moreinfo {
    border-radius: 5px;
    padding: 3px;
    transform: scale(1.5);
}

.moreinfo:hover {
    background-color: rgba(141, 141, 141, 0.568);
    cursor: pointer;
}

.location {
    justify-self: right;
    color: rgb(156, 156, 156)
}

.location img {
    filter: invert(0.6);
    transform: translateY(2px);
}

.openLabel {
    padding: 3px 5px 0px 4px;
    outline: 0.2em solid rgb(123, 255, 47, 0.6);
    border-radius: 15px;
    color: rgb(123, 255, 47, 1);
    font-size: 0.975rem;
}

.closedLabel {
    padding: 3px 5px 0px 4px;
    outline: 0.2em solid rgb(255, 47, 47, 0.6);
    border-radius: 15px;
    color: rgb(255, 47, 47, 1);
    font-size: 0.975rem;
}

.archivedLabel {
    padding: 3px 5px 0px 4px;
    outline: 0.2em solid rgba(255, 150, 47, 0.6);
    border-radius: 15px;
    color: rgb(255, 150, 47);
    font-size: 0.975rem;
}

.popUp {
    background-color: rgba(82, 82, 82, 0.95);
    color: white;
    padding: 0;
    border-radius: 10px;
    width: 10em;
    height: fit-content;
    margin: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.685);
    position: absolute;
    z-index: 2;
    opacity: 0;
}

.dropdownItem {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 10px 10px;
    border-top: 0.1em solid rgb(184, 184, 184);
    &:first-of-type {
        border-radius: 10px 10px 0px 0px;
        border: none;
        border-bottom: 2px solid rgb(184, 184, 184);
        font-weight: bold;
        cursor:default;
    }
    &:last-of-type {
        border-radius: 0px 0px 10px 10px;
    }
    transition: 0.1s;
}

.dropdownItem:hover {
    background-color: rgba(160, 160, 160, 0.95);
    cursor: pointer;
    &:first-of-type {
        background-color: transparent;
    }
}

.dropdownIcon {
    width: 1em;
    height: 1em;
    filter: invert(1);
}

.seemore {
    text-align: center;
}

.seemoreBtn {
    border: none;
    width: 20em;
    padding: 10px 0px 15px 10px;
    font-family: "Josefin Sans";
    font-size: 1rem;
    vertical-align: text-top;
    font-weight: bold;
    border-radius: 10em;
    background-color: rgb(212, 212, 212);
    transition: 0.1s;
    margin: 15px 15px 15px 15px;
}

.seemoreBtn:hover {
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

.arrow {
    width: 1.2em;
    height: auto;
    transform: translate(10px,3px);
}

hr {
    margin: 10px;
}